<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotorXPGUIMVVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <MotorXPGUIMVVM.Properties.Settings>
            <setting name="SpeedMinValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeedMaxValue" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="TempMinValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempMaxValue" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SpeedTitle" serializeAs="String">
                <value>Speed</value>
            </setting>
            <setting name="TempTitle" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="SpeedUnit" serializeAs="String">
                <value>rpm</value>
            </setting>
            <setting name="TempUnit" serializeAs="String">
                <value>C°</value>
            </setting>
            <setting name="ElectroMagneticTorqueKeyMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ElectroMagneticTorqueKeyMax" serializeAs="String">
                <value>1000</value>
            </setting>
        </MotorXPGUIMVVM.Properties.Settings>
    </applicationSettings>
</configuration>